/* -----------------------------------------------    Card Container  --------------------------------------------------- */

#anime-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


/* ---------------------------------------------------- Card Image  --------------------------------------------- */
.card{
    
    height:500px;
    width:250px;
    background-color:#fff;
    border:5px solid black;
    box-shadow:0 0 0 7px #fff,0 0 8px 5px #000;
    margin: 2rem;
    position: relative;
}
.card>figure{
    /* position: relative; */
    height: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* background-color: rgba(255, 216, 144, 0.737); */
}
/* .card>figure>img{
    width: 130%;
    height: 100%;
} */
.card-text{
    border-top: 5px solid;
    height: 30%;
}
.card-text>h2{
    text-align: center;
    font-family: "Anime";
    overflow: hidden;
}
/* -------------------------------------------- Card Rate ------------------------------------------ */

.checked{
    color: orange;
}
.card-rate{
    width: 50%;
    height: 0;
    margin-left: 0.5em;
    position: absolute;
    /* margin-top: 1em; */
}

.card-rate>h3{
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    width: 40%;
}
.card-rate>span{
    margin: 0;
    padding: 0;
}
.card-rate>.fa{
    font-size: medium !important;
}

/*--------------------------------------------- Card Button ---------------------------------------- */

.card-btn, 
.submit-add-anime, 
.submit-update-anime,
button[name="login"], 
button[name="sign-in"] {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
  top: 10%;
  left: 65%;
}

.card-btn:after, 
.submit-add-anime:after,
.submit-update-anime:after, 
button[name="login"]:after, 
button[name="sign-in"]:after {
  content: "";
  background-color: #fe7b7b;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.card-btn:hover:after, 
.submit-add-anime:hover:after, 
.submit-update-anime:hover:after,
button[name="login"]:hover:after, 
button[name="sign-in"]:hover:after {
  top: 0px;
  left: 0px;
}

@media screen and (min-width: 768px) {


    /* .card{
        height:500px;
        width:250px;
    } */

    .card-btn {
    padding: 13px 30px 13px;
    left: 55%;
    }
    .card-rate>.fa{
    font-size: large !important;
    }
}



  








